<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalhomework">

    <!-- 权限声明应该在 manifest 根元素下 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SET_ALARM" tools:ignore="WrongManifestParent" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="杭旅"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalHomework">

        <!-- 其他 Activity 定义 -->
        <activity android:name=".NewsActivity" />
        <activity android:name=".TicketHistoryActivity" />
        <activity
            android:name=".AttractionDetailActivity"
            android:exported="false"
            android:label="门票预定"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AttractionListActivity"
            android:exported="false"
            android:label="查看景点"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="登录账号"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistryActivity"
            android:exported="false"
            android:label="注册账号"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AddAttractionActivity" />
        <activity
            android:name=".FunActivitiesActivity"
            android:exported="false"
            android:label="精彩活动"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GuideHZ"
            android:exported="false"
            android:label="推荐日程"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OverAllActivity"
            android:exported="false"
            android:label="杭州概况"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ActivityDetailActivity"
            android:exported="false"
            android:label="活动详情"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AddActivityActivity"
            android:exported="false"
            android:label="添加活动"
            android:parentActivityName=".FunActivitiesActivity" />
        <activity android:name=".ScheduleDetailActivity"
            android:exported="false"
            android:label="日程详情"
            android:parentActivityName=".GuideHZ" />
        <activity android:name=".AddScheduleActivity"
            android:exported="false"
            android:label="添加日程"
            android:parentActivityName=".GuideHZ" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
